==== Response Fields
[cols="2,2,5a"]
|===
|Name|Type|Description

{{#fields}}

    |{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
    |{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
    |{{#tableCellContent}}{{description}}{{/tableCellContent}}

{{/fields}}

|===