==== Request Fields
[cols="2,2,2,5a"]
|===
|Name|Required|Type|Description

{{#fields}}

    |{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
    |{{#tableCellContent}}{{^optional}}O{{/optional}}{{/tableCellContent}}
    |{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
    |{{#tableCellContent}}{{description}}{{/tableCellContent}}

{{/fields}}

|===